<h1>-- TABLE OF MATCHES SORTED BY ASCENDING ORDER OF MATCH DATE --</h1>
<table id = "table-container">
  <tr>
    <th>First Club</th>
    <th>Second Club</th>
    <th>Match Location</th>
    <th>Match Day</th>
    <th>Match Month</th>
    <th>Match Year</th>
    <th>First Club GS</th>
    <th>Second Club GS</th>
  </tr>
  <tr *ngFor = "let league_match of league_matches">
    <td>{{league_match.playedFootballClub_One.sportsClubName}}</td>
    <td>{{league_match.playedFootballClub_Two.sportsClubName}}</td>
    <td>{{league_match.playedMatchLocation}}</td>
    <td>{{league_match.playedMatchDate.matchDay}}</td>
    <td>{{league_match.playedMatchDate.matchMonth}}</td>
    <td>{{league_match.playedMatchDate.matchYear}}</td>
    <td>{{league_match.numberOfGoalsScoredByFootballClub_One}}</td>
    <td>{{league_match.numberOfGoalsScoredByFootballClub_Two}}</td>
  </tr>
</table>
